<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Simple markers</title>
  <style>
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  </style>
  <script>
  var host = window.document.location.host.replace(/:.*/, '');
  var ws = new WebSocket('ws://' + host + ':17000');

  function onDocLoaded() {
  }
  </script>

</head>
<body onload="onDocLoaded()">
  <div id="map">If you see this, then somerhing is not working!</div>
  <script>

  function initMap() {
    var myLatLng = <%- LAT_LNG_0 %>;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: myLatLng
    });

    var markers = {};

    ws.onmessage = function (event) {
      var userUpdate = JSON.parse(event.data);
      updateMarker(userUpdate);
    }

    function updateMarker(userUpdate) {
      var uid = userUpdate['uid'];
      var laln = (({lat, lng}) => ({lat, lng}))(userUpdate)
      if (uid in markers) {
        markers[uid].setPosition(laln);
      }
      else {
        markers[uid] = new google.maps.Marker({
          position: laln,
          map: map,
          title: uid,
          label: uid.substr(0, 2)
        });
      }
    }
    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = () => {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200) {
          var userData = JSON.parse(httpRequest.responseText);
          Object.keys(userData).forEach((kk) => {
            var userUpdate = userData[kk];
            userUpdate['uid'] = kk;   // This adds to the ref, so we modify userUpdate - don't care!
            updateMarker(userUpdate);
          });
        } else {
          alert('There was a problem with the request.');
        }
      }
    };
    httpRequest.open('GET', 'fullupdate');
    httpRequest.send();
  }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&callback=initMap">
  </script>
</body>
</html>
